/*------------ Esta parte es la estrcutura general de las paginas que son todas iguales ----*/

.body-primary {
    @apply py-8 bg-white mx-auto;
}

.body-secundary {
    @apply max-w-full px-4;
}

.body-header-main {
    @apply text-center;
}

.body-header-text {
    @apply mt-2 text-3xl font-extrabold tracking-wide text-gray-900;
}


/*------------ Esta parte es la estrcutura secundaria de las paginas que varian ----*/

.Structure-idx-primary {
    /* nivel4 */
    @apply mt-5;
}

.Structure-shw-primary {
    @apply mt-5;
}

.nivel5 {
    @apply space-y-10;
}

.Structure-idx-body {
    @apply space-y-10 grid grid-cols-1 gap-x-8 gap-y-10;
}

.Structure-idx-header {
    @apply mt-2 text-2xl font-extrabold tracking-wide text-gray-900 text-center;
}

.imgProduct {
    @apply mx-auto w-4/6 object-cover object-center;
}

.pProduct {
    @apply ml-2;
}

.headerSecundary {
    @apply text-center text-lg font-bold;
}

.formUser {
    @apply w-5/12 mx-auto mt-20 p-5 rounded-xl border-opacity-50 border-4 border-indigo-300;
}

@media(min-width:640px) {
    .body-secundary {
        @apply px-6;
    }
    .body-header-main {
        @apply text-4xl;
    }
}

@media (min-width: 768px) {
    .nivel5 {
        @apply space-y-0 grid grid-cols-2 gap-x-8 gap-y-10;
    }
    .Structure-idx-body {
        /* nivel6 */
        @apply space-y-0 grid grid-cols-2 gap-x-8 gap-y-10;
    }
    .pProduct {
        @apply ml-8;
    }
}

@media(min-width:1024px) {
    .body-secundary {
        @apply px-8;
    }
    .Structure-idx-body {
        /* nivel6 */
        @apply space-y-0 grid grid-cols-6 gap-x-8 gap-y-10;
    }
    .pProduct {
        @apply ml-20;
    }
}

@media (min-width: 1280px) {
    .Structure-idx-body {
        /* nivel6 */
        @apply space-y-0 grid grid-cols-8 gap-x-8 gap-y-10;
    }
}